@import "tailwindcss";


body {
  background-image: url('/background4.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-20px); }
  100% { transform: translateY(0px); }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}